html {
  background: #f2f1f4;
  color: #19171c;
}
h1{
  font-size:35px;
  font-style:oblique;
  font-family: sans-serif, monospace;
  color: black;
  text-align:center;
}
.title{
  font-size:16px;
  font-style: ;
  font-family: sans-serif, monospace;
  color: black;
  text-align:center;
}

p , li{
  font-size:13px;
  font-style: ;
  font-family: sans-serif, monospace;
  color: green;
  text-align:center;
}

.descriptions{
  display: none;
}

.active + .descriptions{
  display: block;
}
